<form #form="ngForm" autocomplete="off" (onsubmit)="submit(form)">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white"><i class="fas fa-user-circle" [class.green.icon]="CardOwnerName.valid" [class.red.icon]="CardOwnerName.invalid && CardOwnerName.touched"></i></div>
      </div>
      <input type="text" required name="CardOwnerName" #CardOwnerName="ngModel" [(ngModel)]="service.formData.CardOwnerName" class="form-control" placeholder="Card Owner Name" >
    </div>
  </div>
  <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white"><i class="fas fa-credit-card"></i></div>
        </div>
        <input type="text" name="CardNumber" maxlength="16" minlength="16" required #CardNumber="ngModel" [(ngModel)]="service.formData.CardNumber" [class.green.icon]="CardNumber.valid" [class.red.icon]="CardNumber.invalid && CardNumber.touched" class="form-control" placeholder="16 Digit Card Number" >
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-7">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white"><i class="fas fa-calendar-alt"></i></div>
          </div>
          <input type="text" name="ExpirationDate" maxlength="5" minlength="5" required #ExpirationDate="ngModel" [(ngModel)]="service.formData.ExpirationDate" class="form-control" placeholder="MM/YY" [class.green.icon]="ExpirationDate.valid" [class.red.icon]="ExpirationDate.invalid && ExpirationDate.touched">
        </div>
      </div>
      <div class="form-group col-md-5">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white"><i class="fas fa-key"></i></div>
          </div>
          <input type="text" name="CVV" type="password" maxlength="3" minlength="3" required #CVV="ngModel" [(ngModel)]="service.formData.CVV" class="form-control" placeholder="CVV" [class.green.icon]="CVV.valid" [class.red.icon]="CVV.invalid && CVV.touched">
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-success btn-lg btn-block"><i class="fas fa-database"></i> Submit</button>
    </div>
</form>